*{
	padding:  0px;
	margin: 0px;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 24px;
	
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Source Sans Pro', sans-serif;
}
a, a:hover{
	text-decoration: none;
}


/************************************
		main css xtart
****************************************/

/****************header section css start*************/
.header-section{
	background: url("../img/Slider.png") center center no-repeat;
	background-size: cover;
}
.menu{
	width: 100%;

}
.menu .bg-light{
	background: transparent !important;
}
.menu .navbar-light .navbar-nav .nav-link{
	color: #9ca6aa;
	margin: 0px 15px;
	font-size: 14px;
	font-weight: 700;
	padding-bottom: 0px;
}
.menu .navbar-light .navbar-nav .nav-link:hover{
	color: #ffc178;
	border-bottom: 2px solid #ffc178;
}
.menu .navbar-light .navbar-nav .active>.nav-link{
	color: #ffc178;
	border-bottom: 2px solid #ffc178;
}
.menu .btn-info{
	padding: 10px 35px;
	background: #fff;
	color: #ffc178;
	border: 0px;
	border-radius: 30px;
	font-size: 14px ;
	transition: 1s ease-in;
}
.menu .btn-info:hover, .menu .btn-info:focus{
	background: #ffc178;
	color: #fff;
	border: 0px;
}
.header-section .banner{
width: 100%;
padding: 60px 0px 170px;
}
.banner .banner-inner{
	width: 100%;
	padding: 0px 0px 150px;
}
.banner .banner-inner h1{
	font-size: 42px;
	line-height: 52px;
	color: #ffc178;
	font-weight: 700;

}
.banner .banner-inner p{
	font-size: 14px;
	line-height: 24px;
	color: #9ca6aa;
	font-weight: 400;

}
.banner .banner-inner .btn-info{
	padding: 10px 35px;
	margin-top: 10px;
	background: #ffc178;
	color: #fff;
	border: 0px;
	border-radius: 30px;
	font-size: 14px ;
	transition: 1s ease-in;
}
.banner .banner-inner .btn-info:hover, .banner .banner-inner .btn-info:focus{
	background: #fff;
	color: #ffc178;
	border: 0px;
}
/*feature-section css start*/
.feature-section{
	width: 100%;

}
.feature-section .title{
	width: 100%;
	padding: 0px 0px 30px;
	text-align: center;
}
.feature-section .title h1{
	font-size: 42px;
	line-height: 52px;
	color: #000;
	font-weight: 700;
}
.feature-section .title p{
	font-size: 14px;
	line-height: 24px;
	color: #9ca6aa;
	font-weight: 400;

}
.feature-section .service-inner{
	width: 100%;
	padding: 50px 30px;
	text-align: center;
}
.feature-section .bg-1{
background: #f9703a;
}
.feature-section .bg-2{
	background: #80be41;
}
.feature-section .bg-3{
	background: #ffb157;
}
.service-inner h4{
	font-size: 24px;
	color: #fff;
	font-weight: 700;
}
/*limitless section marker-start:*/

	.limitless{
		width: 100%;
		padding: 80px 0px;
	}
.inner-img{
	width: 100%;
}
.inner-text{
	width: 100%;
}
.inner-text h2{
	font-size: 42px;
	line-height: 52px;
	color: #000;
	font-weight: 700;
	padding-bottom: 15px;
}
.inner-text p{
	font-size: 14px;
	line-height: 24px;
	color: #9ca6aa;
	font-weight: 400;
}
.students{
width: 100%;
padding: 20px 0px;
}
.courses{
width: 100%;
padding: 20px 0px;

}
.hours{
width: 100%;
padding: 20px 0px;
}

.students h1{
font-size: 50px;
font-weight: 700;
color: #ffba00;
margin-bottom: -5px;
}
.courses h1{
font-size: 50px;
font-weight: 700;
color: #ff5f72;
margin-bottom: -5px;
}
.hours h1{
font-size: 50px;
font-weight: 700;
color: #43cb83;
margin-bottom: -5px;
}

.students p{
font-size: 24px;
text-transform: capitalize;
color: #ffba00;
}
.courses p{
font-size: 24px;
text-transform: capitalize;
color: #ff5f72;
}
.hours p{
font-size: 24px;
text-transform: capitalize;
color: #43cb83;
}

/*arround css start*/
.arround{
	width: 100%;
	padding: 80px 0px;
}
.arround .title{
	width: 100%;
	padding: 0px 45px;
	text-align: center;
}
.arround .title h1{
	font-size: 42px;
	line-height: 52px;
	color: #000;
	font-weight: 700;
}
.arround .card{
margin:15px 0px;
}
.arround .card-body{
	padding: 1rem;
}
.arround .card-title{
	margin-bottom: 4px;
	font-size: 15px;
	font-weight: 700;
	line-height: 24px;

}
.arround .card-text{
	font-size: 16px;
	color: #9ca6aa;

}
.arround .btn-link{
	font-weight: 400;
	color:#9ca6aa;
	text-decoration: none;
	text-align: left;
	padding: 0px;
}
.arround .card:hover .card-title{
	color: #ffc178;
	text-decoration: underline;
}
.arround .card:hover .btn-link{
	color: #000;
	
}
/*footer section css start*/
.footer-section{
	width: 100%;
}
.top-widget-footer{
	width: 100%;
	padding: 80px 0px;
	background: #252c3a;
}
.top-widget-footer .inner-widget{
width: 100%;
}
.top-widget-footer .inner-widget img{
	margin-bottom: 30px;

}
.top-widget-footer .inner-widget p{
color: #78797d;
font-size: 13px;
margin-bottom: 30px;
}
.top-widget-footer .inner-widget .divider{
	width: 100%;
	height: 1px;
	background: #969595;
	margin: 0px 0px 35px;
}
.top-widget-footer .inner-widget .social-icons{
	width: 100%;

}
.top-widget-footer .inner-widget .social-icons li{
	display:inline-block;
	list-style: none;
}
.top-widget-footer .inner-widget .social-icons li a{
	color: #4a4a4a;
	font-size: 18px;
	margin: 0px 10px 0px 0px;
}
.top-widget-footer .inner-widget .social-icons li a:hover{
	color: #0089fd;
	font-size: 18px;
	margin: 0px 10px 0px 0px;
}
.top-widget-footer .inner-widget h4{
	font-size: 18px;
	color: 
	#fff;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 39px;
}
.top-widget-footer .inner-widget .list-group-item{
	position: relative;
	display: block;
	padding: 10px 0px;
	background-color: transparent;
	color: #78797d;
	border: 0px;
	font-size: 14px;
}
.top-widget-footer .inner-widget .list-group-item span{
	color: #6b6b6b;
	font-size: 12px;

}
.top-widget-footer .inner-widget .list-group-item a{
	color: #878789;
	font-size: 14px;
	font-weight: 500;
}
.top-widget-footer .inner-widget .form{
	width: 100%;

}
.top-widget-footer .inner-widget .form .form-control{
	border-radius: 0px;
	border: 1px solid #fff;
	font-size: 14px;
	height: calc(1.5em + .75rem + 0px);
}
.top-widget-footer .inner-widget .form .btn-primary{
position: absolute;
bottom:29%;
right: 4%;
padding: 6px 25px;
border-radius: 0px;
border: 0px solid #ffc178;
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
color: #fff;
background-color: #ffc178;
}
.top-widget-footer .inner-widget .form .btn-primary:hover, .top-widget-footer .inner-widget .form .btn-primary:focus{
	background: #fff;
	color: #ffc178;
	border: 0px;
}
.main-footer{
	width: 100%;
	padding: 20px 0px;
	background-color: #1d232e;
}
.main-footer p{
	font-size: 14px;
	color: #6b6b6b;
	margin-top: 10px;
}
.main-footer .nav-meno{
	width: 100%;
}
.main-footer .nav-meno ul{
	display: block;
}
.main-footer .nav-meno ul li{
	display: inline-block;
	list-style: none;
	margin: 10px;
}
.main-footer .nav-meno ul li a{
	text-align: center;
	color: #6b6b6b;
	font-size: 16px;
}
.main-footer .nav-meno ul li a:hover, .main-footer .nav-meno ul li a:focus{

	color: #ffc178;
	border-bottom: 2px solid #ffc178;
	text-decoration: none;
}
